*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.center{
    display: flex;
    flex-wrap: wrap;
    padding: 0 2%;
    
}

header{
    padding: 20px 0;
    background-image: url(img/hard.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 6px 6px 6px #888;

}

a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
    font-size: large;
    font-family: "Anta", sans-serif;
    font-weight: bold;
}

.topicos{
    text-align: right;
    padding-top: 20px;
}

a{
    color: white;
}


.title{
    font-size: 50px;
    width: 70%;
    margin-right: 90px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    font-family: "Anta", sans-serif;
    
}


nav{
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    padding: 100px;
}


h3, .title2{
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 3px 3px 3px;
    font-family: "Lato", sans-serif;
    
}

